<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Display Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let movie of movies">
    <img src="{{movie.Poster}}" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>{{movie.Year}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     {{movie.Title}}
    </ion-card-content>
  </ion-card>
<ul>
  <li *ngFor="let movie of movies">
    {{movie.Title}}
  </li>
</ul>
</ion-content>
